<section class="d-flex justify-content-center ">
  <mat-card class="card" [ngClass]="categoria">

    <div class="card-content">
      <mat-card-header>
        <mat-card-title>
          <a
            (click)="outraAcao()"
            class="card-link"
            [ngClass]="categoria"
          >
            {{ nome }}
          </a>
        </mat-card-title>
      </mat-card-header>
    </div>

    <div *ngIf="!home" class="card-footer d-flex gap-2">
      <button
        type="button"
        (click)="inserirAcao()"
        class="btn btn-sm btn-outline-dark fw-bolder blur-container d-flex align-items-center"
        style="width:40px; height: 40px;"
      >
         <mat-icon>mode_edit</mat-icon>
      </button>
      <button
        type="button"
        (click)="inserirAcao2()"
        class="btn btn-sm btn-outline-dark fw-bolder blur-container d-flex align-items-center"
        style="width:40px; height: 40px;"
      >
         <mat-icon>delete_forever</mat-icon>
      </button>
    </div>

  </mat-card>
</section>
