
<section class="container mt-3" >

    <form (ngSubmit)="onSubmit()" [formGroup]="createReceitaForm" >

      <div class="d-flex flex-column gap-3 ">

        <h1 class="blur-container">{{titulo()}}</h1>

        <div class="d-flex justify-content-between gap-3 flex-column flex-md-row gap-md-5 blur-container">

          <mat-form-field floatLabel="always" appearance="outline" class="w-100 fw-bold">
            <input
              type="text"
              matInput
              formControlName="nome"
              placeholder="Insira o nome da Receita"
              id="field-nome"
            >
            <mat-label>Título</mat-label>
            <mat-error *ngIf="hasFormError(createReceitaForm,'nome','required')">
              Nome é <strong>obrigatório!</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" class="w-100">
            <mat-select formControlName="categoria" class="fw-bold" placeholder="Escolha uma categoria">
              <mat-option value="Salgado">Salgado</mat-option>
              <mat-option value="Bebida">Bebida</mat-option>
              <mat-option value="Sobremesa">Sobremesa</mat-option>
              <mat-option value="Fitness">Fitness</mat-option>
            </mat-select>
            <mat-label>Categoria</mat-label>

            <mat-error *ngIf="hasFormError(createReceitaForm,'categoria','required')">
              Categoria é <strong>obrigatório!</strong>
            </mat-error>

          </mat-form-field>

        </div>

        <mat-form-field floatLabel="always" appearance="outline" class="fw-bold blur-container">
           <textarea
            matInput
            formControlName="descricao"
            placeholder="Insira a descrição da Receita"
            id="field-descricao"
            rows="5"
          ></textarea>
          <mat-label>Descricao</mat-label>
          <mat-error *ngIf="hasFormError(createReceitaForm,'descricao','required')">
            Descricao é <strong>obrigatório!</strong>
          </mat-error>
        </mat-form-field>

        <div class="d-flex justify-content-between">

            <button
              class="btn btn-lg responsive-sm-btn btn-warning text-white d-flex align-items-center gap-1"
              id="button-voltar"
              (click)="goBack()"
              type="button"
            >
            <mat-icon>arrow_circle_left</mat-icon>
              VOLTAR
            </button>

            <div class="d-flex gap-2">

                <button
                  class="btn btn-lg responsive-sm-btn btn-danger d-flex align-items-center gap-1"
                  id="button-limpar"
                  type="reset"
                >
                <mat-icon>cleaning_services</mat-icon>
                  LIMPAR
                </button>

                <button
                  class="btn btn-lg responsive-sm-btn btn-success d-flex align-items-center gap-1"
                  type="submit"
                  id="button-cadastrar"
                  [disabled]="!createReceitaForm.valid"
                >
                <mat-icon>add_circle</mat-icon>
                  CADASTRAR
                </button>

            </div>

        </div>

      </div>

    </form>

</section>
