<section class="d-flex justify-content-center m-5 p-5">

  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Favorite Food</mat-label>
      <mat-select [formControl]="foodControl" name="food">
        <mat-option>None</mat-option>
        @for (food of foods; track food) {
          <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <p class="fs-1">Selected: {{foodControl.value}}</p>
  </form>

</section>
