@use './reset.scss' as *;

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background-image: url('assets/img/backGround.png');
  background-size: cover; // makes the image cover the whole screen
  background-position: center center; // centers the image
}

.hide{
  display: block;
}

@media (max-width: 576px) {
  .responsive-sm-btn {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .hide{
    display: none;
  }

}

.blur-container {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

